<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Customers List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let i of customers">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{i.name}}</ion-label>
      <ion-button (click)="onDelete(i)"><ion-icon name="trash"></ion-icon></ion-button>
      <ion-button (click)="onEdit(i)"><ion-icon name="switch"></ion-icon></ion-button>
 </ion-item>
  
    <ion-card-content>
      <ion-icon name="mail" slot="start"></ion-icon>
      {{i.email}}<br/>
      <ion-icon name="md-calendar" slot="start"></ion-icon>
      {{i.date}}<br/>
      <ion-icon name="cart" slot="start"></ion-icon>
      {{i.item}}<br/>
      <ion-icon name="home" slot="start"></ion-icon>
      {{i.address}}<br/>
      <ion-icon name="phone-portrait" slot="start"></ion-icon>
      {{i.phone}}<br/>
    </ion-card-content>
  </ion-card>
  </ion-content>
  <ion-button color="danger" shape="round" (click)="deleteAll()">Delete All</ion-button>
  